<div class="row" ng-controller="MoviesCtrl">
  <div class="col-sm-12">
    <input ng-model="search.title" name="search" placeholder="search movies" class="form-control"/>
  </div>

  <div class="col-sm-12">
    <movie ng-repeat="(key, movie) in movies | filter:search">
      <a href="#" target="blank">
        <img ng-src="{{image.base_url + image.backdrop_size + (movie.backdrop_path || movie.poster_path) }}"/>
        <div class="info clearfix">
          <span class="pull-left">{{movie.title}}</span>
          <span class="pull-right">{{movie.vote_average}}</span>
        </div>
      </a>
    </movie>
  </div>
</div>
